@import "../../styles/variables.scss";

.token-pair-info {
  &.mockup {
    div.main-info {
      div {
        &:first-child {
          span {
            &.stablecoin {
              width: 35px;
              height: 15px;
              overflow: hidden;
              color: $color-grey;
              background-color: $color-grey;
            }

            &.altcoin {
              opacity: 1;
              width: 55px;
              height: 8px;
              overflow: hidden;
              color: $color-grey;
              display: inline-block;
              background-color: $color-grey;
            }
          }
        }
        &.price-info {
          span {
            &.price {
              width: 131px;
              height: 15px;
              overflow: hidden;
              color: $color-grey;
              display: inline-block;
              background-color: $color-grey;
            }

            &.sticker {
              width: 66px;
              height: 15px;
              overflow: hidden;
              border-radius: 0;
              color: $color-grey;
              display: inline-block;
              background-color: $color-grey;
            }
          }
        }
      }
    }
  }

  div.main-info {
    display: grid;
    grid-template-columns: 30% 70%;

    div {
      &:first-child {
        display: flex;
        align-items: center;
        svg {
          margin-right: 1rem;
        }
        .circle {
          width: 48px;
          height: 48px;
          margin-right: 1rem;
        }

        span {
          &.stablecoin {
            display: block;
            line-height: 1;
            font-weight: 500;
            font-size: 1.25rem;
          }

          &.altcoin {
            opacity: 0.4;
            line-height: 1;
            font-weight: 400;
            font-size: 0.75rem;
            color: $color-black;
          }
        }
      }
      &.price-info {
        text-align: right;
        span {
          &.price {
            font-weight: 500;
            font-size: 1.25rem;
            margin-right: 0.75rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sticker {
    font-size: 1rem !important;
  }

  .token-pair-info {
    div.main-info {
      grid-template-columns: 40% 60%;
      div.price-info {
        span.price {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .sticker {
    font-size: 1rem !important;
  }

  .token-pair-info {
    div.main-info {
      grid-template-columns: 40% 60%;
      div.price-info {
        span.price {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .sticker {
    font-size: 1rem !important;
  }

  .token-pair-info {
    div.main-info {
      grid-template-columns: 40% 60%;
      div.price-info {
        span.price {
          font-size: 1rem;
        }
      }
    }
  }
}
