@import "../../styles/variables.scss";

.circle {
  width: 24px;
  height: 24px;
  align-items: center;
  display: inline-flex;
  border-radius: $br-50;
  justify-content: center;
  background-color: $color-grey;
}
